@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url('./fonts/ClashDisplay-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url('./fonts/ClashDisplay-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url('./fonts/ClashDisplay-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "Clash Display";
  src: url('./fonts/ClashDisplay-Bold.otf');
  font-weight: 700;
}

.font-clash{
  font-family: 'Clash Display';
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.sh{
  border: 1px solid white;
  box-shadow: 4px 4px 0px 0px #000;
}

.skills div{
  @apply flex gap-2 items-center text-sm border py-2 px-4 rounded-sm font-semibold md:text-base
}
.skills div svg{
 @apply h-6 w-6 
}
.tools{
 @apply flex flex-wrap gap-2
}
.tools span{
  @apply border p-1 px-2 text-sm
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Clash Display';
  word-spacing: 0.2em;
  @apply  lg:bg-grayBg
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
